
body{
      margin: 0px;
      padding:0px;
}
.html {
  margin: 0;
  padding: 0;
  color: green;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc1b7;
  .title{
      margin: 0 auto;
      text-align: center;
  }
}

